.books {
    width: 530px;
    display: flex;
    justify-content: space-between;
}

.image__container > img {
    transform: rotate(-5deg);
    transform-origin: top left;
    width: 200px;
    height: 250px;
    border-right: 10px solid;
    border-image: linear-gradient(whitesmoke 0%, darkgray 50%, whitesmoke 100%) 1;
}

.books__content {
    width: 380px;
    background-color: blueviolet;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 30px;
    color: white;
}

.books__content > h1 {
    margin-top: 10px; /* Use pixels instead of percentage for margin-top */
    padding: 5px;
    margin-left: 20px;
    font-size: 22px;
}

.books__content > .content {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 12px;
    height: 95px;
    overflow-y: hidden;
    text-overflow: ellipsis; 
    max-width: 100%;
}


.books__content > button {
    align-self: center;
    padding: 5px 20px 5px 20px;
    margin-bottom: 5px;
}

.books__content > button:hover {
    transform: scale(1.1);
}



